<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
                <string>app-1-458500322726-ios-b85053794e78597382cb67</string>
				<string>app-1-458500322726-ios-17f8296932e1d6cc82cb67</string>
                <string>app-1-458500322726-ios-b85053794e78597382cb67</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
